<!DOCTYPE html>
<html>
<head>
    <title>View Schedule</title>
    <style>
        /* Add custom CSS for better table styling */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        a {
            text-decoration: none;
            color: black;
        }
        div {
            padding: auto;
        }
    </style>
</head>
<body>
    <h1>Thời Khóa Biểu</h1>
    <form method="post" action="{% url 'load_schedule' %}">
        {% csrf_token %}
        <button type="submit">Load Thời Khóa Biểu</button>
    </form>
    
    {% if timetable %}
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr role="row">
                    <th>Ca học</th>
                    <th>Thứ 2</th>
                    <th>Thứ 3</th>
                    <th>Thứ 4</th>
                    <th>Thứ 5</th>
                    <th>Thứ 6</th>
                    <th>Thứ 7</th>
                    <th>Chủ nhật</th>
                </tr>
            </thead>
            <tbody>
                <tr role="row">
                    <td style="height:150px" lang="lichtheotuan-buoisang"><b>Sáng</b></td>
                    {% for day in days_of_week %}
                    <td style="height:150px">
                        {% for tkb in timetable %}
                            {% if tkb.thoi_gian.GioBatDau.hour < 12 and tkb.ngay_trong_tuan == day %}
                            <div style="background-color: #c9d0db;border-radius: 0.25rem;">
                                <a href="#">
                                    <strong>Môn: {{ tkb.lop_hoc_phan.mon_hoc.TenMonHoc }}<br></strong>
                                </a>
                                Tiết: {{ tkb.thoi_gian.TietTrongKhungGio }}<br>
                                Phòng: {{ tkb.lop_hoc_phan.phong_hoc.TenPhongHoc }}<br>
                                GV: {{ tkb.lop_hoc_phan.giang_vien.TenGiangVien }}<br>
                            </div>
                            <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                <tr role="row">
                    <td style="height:250px" lang="lichtheotuan-buoisang"><b>Chiều</b></td>
                    {% for day in days_of_week %}
                    <td style="height:150px">
                        {% for tkb in timetable %}
                            {% if tkb.thoi_gian.GioBatDau.hour >= 12 and tkb.ngay_trong_tuan == day %}
                            <div style="background-color: #c9d0db;border-radius: 0.25rem;">
                                <a href="#">
                                    <strong>Môn: {{ tkb.lop_hoc_phan.mon_hoc.TenMonHoc }}<br></strong>
                                </a>
                                Tiết: {{ tkb.thoi_gian.TietTrongKhungGio }}<br>
                                Phòng: {{ tkb.lop_hoc_phan.phong_hoc.TenPhongHoc }}<br>
                                GV: {{ tkb.lop_hoc_phan.giang_vien.TenGiangVien }}<br>
                            </div>
                            <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
</body>
</html>
