{% extends "pages/layout.html" %}

{% block title %}Thêm Tiết Học{% endblock %}

{% block content %}
<style>
    input {
      border: 1px solid rgb(209 213 219);
      padding: 8px 0;
      width: 100%;
    }
  </style>
<main class="p-6 sm:p-10 space-y-6">
  <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
      <div class="mr-6">
          <h1 class="text-4xl font-semibold mb-2">SỬA Lớp  Học Phần</h1>
      </div>      
  </div>
  <div class="bg-white p-6 rounded-lg shadow-md">
    <form method="post" class="space-y-4">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="flex justify-end">
        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
      </div>
    </form>
  </div>
</main>

{% endblock %}