{% extends "pages/layout.html" %}

{% block title %}Sửa Thời Khóa Biểu{% endblock %}

{% block content %}
<style>
    input {
      border: 1px solid rgb(209 213 219);
      padding: 8px 0;
      width: 100%;
    }
    .error-message {
        color: red;
        margin-top: 5px; /* Thêm margin-top để tách các thông báo lỗi */
    }
    .form-group {
        margin-bottom: 10px; /* Thêm margin-bottom để tách các field */
    }
</style>
<main class="p-6 sm:p-10 space-y-6">
  <div class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between">
    <div class="mr-6">
      <h1 class="text-4xl font-semibold mb-2">SỬA thời Khóa Biểu</h1>
    </div>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-md">
    <form method="post" class="space-y-4">
        {% csrf_token %}
        
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
              <div class="error-message">{{ error }}</div>
            {% endfor %}
          </div>
        {% endfor %}
      
        {% if form.non_field_errors %}
          <div class="error-message">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
      
        <div class="flex justify-end">
          <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        </div>
      </form>
      
  </div>
</main>

{% endblock %}
